.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px; /* Adjust the height to match your desired logo height */
  }
  
  .logo-collapsed {
    justify-content: center;
  }
  
  .logo-text {
    margin-bottom: 0;
  }