.App {
  text-align: center;
  color: #2105d6;
}


.center {
  margin: auto;
  width: 50%;
  /* border: 3px solid rgb(117, 117, 117); */
  padding: 10px;
}

.centerText {
  text-align: center;
  /* border: 3px solid ; */
}